* {
  box-sizing: border-box;
}
div {
  background-color: #00FFFF;
}
h1 {text-align: center; font-family: sans-serif;}
p {
  /*width: 32%;*/
  border: 1px solid black;
  float: left;
  padding: 10px;
margin: 5px;
background-color: grey;
}

#food {
  position: relative;
  top: -10px;
  right: -10px;
  margin: 0px;
  float:right;
  width: 80px;
  height: 24px;
  border: 1px solid black;
  padding: 2px 0px 8px 0px;
  padding: 4px;
  text-align:center;
  background-color:pink;font-family:sans-serif;font-weight: bold;
}

#food2 {position: relative;
  top: -10px;
  right: -10px;
    float:right;
    width: 80px;
    height: 24px;
    border: 1px solid black;
padding: 2px 0px 8px 0px;
text-align:center;
font-family:sans-serif;
color: white;
background-color:red;font-weight: bold;
}

#food3 {position: relative;
  top: -10px;
  right: -10px;
    float:right;
    width: 80px;
    height: 24px;
    border: 1px solid black;
padding: 2px 0px 8px 0px;
text-align:center;
font-family:sans-serif;
background-color:beige;
 font-weight: bold;
}

/********** Large devices only **********/
@media (min-width: 992px)  {
  #p1 {position:relative;
    width: 32%;
  }
  #p2 {
    width: 32%;
  }
  #p3 {
    width: 32%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #p1 {
    width: 48%; height: 150px;
  }
  #p2 {
    width: 48%;height: 150px;
  }
  #p3 {
    width: 97%;height: 150px;
  }
}
/********** Small devices only **********/
@media (max-width: 767px) {
  #p1 {
    width: 98%;
  }
  #p2 {
    width: 98%;

  }

  #p3 {
    width: 98% }

}
